.svn
.git
*.mdf
*.ldf
*.MDF
*.LDF
*.db3
bin
obj
Backup
_UpgradeReport_Files
Debug
DebugPS
Release
TestResults
~$*.*
~*.tmp
~*.*
~*
*.suo
*.ncb
*.pdb
*.vssscc
*.vspscc
*.user
*.scc
*.obj
*.o
*.a
*.dll
*.layout
*.*~
*.cache
*.[Ll][Oo][Gg]
\#*\#
.\#*
*.elc


flycheck_init-axiom.el